<form autocomplete="off" onsubmit="event.preventDefault();">
    <input type="hidden" name="categoryKey" data-dtype="String" value="{{categoryKey}}"/>
    <div class="form-group">
        <label for="label">{{localize "SPELL_BETTER.NewCategory.NAME"}}</label>
        <input type="String" name="label" value="{{label}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label for="viewOrSpellbook">{{localize "SPELL_BETTER.NewCategory.ViewOrSpellbook.NAME"}}</label>
        <div class="form-fields">
            <select name="viewOrSpellbook">
                {{selectOptions types selected=selectedType localize=true}}
            </select>
        </div>    
        <p class="notes">{{{localize "SPELL_BETTER.NewCategory.ViewOrSpellbook.HINT"}}}</p>
    </div>
    
    <div class="form-group">
        <label for="filter">{{localize "SPELL_BETTER.NewCategory.Filter.LABEL"}}</label>
        <div class="form-fields">
            <select name="filter">
                <option value="">None</option>
                {{#each labelFilterSets}}
                <optgroup label="{{@key}}">
                    {{selectOptions this selected=../selectedFilters localize=true}}
                </optgroup>
                {{/each}}
            </select>
        </div>
        <p class="notes">{{localize  "SPELL_BETTER.NewCategory.Filter.HINT"}}</p>
    </div>

    <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize 'SETTINGS.Save'}}
    </button>
</form>
