<form autocomplete="off" onsubmit="event.preventDefault();"></form>
    <div class="form-group">
        <label>{{localize "SPELL_BETTER.NewCategory.NAME"}}</label>
        <input type="String" name="categoryLabel" data-dtype="String"/>
    </div>
    <div class="form-group">
        <label>{{localize "SPELL_BETTER.NewCategory.FilterSet.LABEL"}}</label>
        <select name="filter">
            {{#select filterSet}}
                <optgroup label="{{ Levels }}"></optgroup>
                    <option value="">None</option>
                    {{#each filters}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </optgroup>
            {{/select}}
        </select>
        <p class="notes">{{localize filterSet.hint}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "SPELL_BETTER.NewCategory.UseCategory.NAME"}}</label>
        <input type="checkbox" name="useCategory" {{checked useCategory}} data-dtype="Boolean"/>
        <p class="notes">{{localize "SPELL_BETTER.NewCategory.UseCategory.HINT"}}</p>
    </div>

    <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize 'SETTINGS.Save'}}
    </button>
</form>
